/doc
/fix-errors
.env.development
.env.production
.env.local

# Node & Next.js
node_modules/
.next/
dist/
*.log

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
**/build/
*.lock.db
*.lock