# -----------------------------------------------------------------------------
# Backoffice Portal Environment Template (.env.example)
# -----------------------------------------------------------------------------
PORT=3002
NEXT_PUBLIC_ENVIRONMENT=DEV
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXUS_INTERNAL_URL=http://localhost:8081
NEXT_PUBLIC_SUPERAPP_SANDBOX_URL=/superapp-sandbox/index.html
